@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="jumbotron" style="text-align:center">
    <h3> Learn, Share, Build!</h3>
    <h4> Each month, over 50 million users come to QNA to learn, share their knowledge and build their life/careers.</h4>
    <p> Join the world's largest information community.</p>
    <p>
        Want to ask and search detail of a question?
    </p>
</div>



<a class="nav-link text-dark" asp-area="" asp-controller="Questions" asp-action="">Click Here To Start Exploring</a>

<img class="q-image"  src="//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.static_about_page.light_mode.AboutPage_LM.png-26-bc733716fefd249a.png" style="box-sizing: border-box; max-width: 70%;">

<h3>Why QNA exists</h3>

<p style="box-sizing: border-box;">QNA’s mission is to share and grow the world’s knowledge. Not all knowledge can be written down, but much of that which can be, still isn't. It remains in people’s heads or only accessible if you know the right people. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of the world.</p>
