@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>Understand the world and people in it</h2>

<img class="q-image" src="//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.static_about_page.light_mode.UnderstandWorld_LM.png-26-16bde9978ff14af0.png" style="box-sizing: border-box; max-width: 60%; max-height:300px" >

<p style="box-sizing: border-box;">Ever since the first humans gathered around a fire and turned their gaze to the stars, humanity has shared knowledge through stories. Spaces are digital campfires for collective meaning making which expand knowledge sharing from interrogative to narrative. In Spaces, creators build audiences of millions for their unique insights or audiences of thousands for niche knowledge that can't be found anywhere else.</p>